{% extends 'admin.twig' %}

{% block content %}

<div vue-entry="CoreHome.ContentBlock" content-title="{{ title }}" rate="true">
    <p>
        This plugin helps you to Backup and export your database, and also to restore it.
    </p>
    <p>
            <a href="?module=DataExport&action=downloadDbDump" class="btn btn-primary">Download DB Dump</a>
    </p>
</div>
{% endblock %}